<%= stylesheet_link_tag 'index' %> 

<% content_for :html_description, "web + マンガ ＋ アニメーション = 新しい創作のカタチ キャラクター,背景,BGMなどの要素をwebで共有。作品作りを手軽に" %>

<div id="top_menu">


  <div id="featured_pane">
    <% @layouts.each do |layout| %>
      <%=raw "#{layout.html}" %>
    <% end %>
  </div>


  <div class=" novel_list">
    <h1>投稿された作品</h1>
    <% @novels.each do |novel| %>
      <% if novel.status == 'publish' then %> 
        <%= link_to( {:controller => :novels, :action => :show, :id => novel.id },{:class => "novel_list_item"} ) do %>

            <h2 class="novel_list_title">
              <%= truncate( novel.title, length: 14 ) %>
            </h2>
            <p class="nove_list_description"> 
              <%= truncate( novel.description, length:30 ) %>
            </p>
            
        <% end %>
      <% end %>
    <% end %>
  </div>
  
</div>

