<%= stylesheet_link_tag 'index' %> 
<%= stylesheet_link_tag 'novel' %>
<%= stylesheet_link_tag 'chapter' %>
<%= stylesheet_link_tag 'entry' %>
<%= stylesheet_link_tag 'entryItem' %>

<%= javascript_include_tag 'index' , :defer=>"defer" %>

<% content_for :html_description, "web + マンガ ＋ アニメーション = 新しい創作のカタチ キャラクター,背景,BGMなどの要素をwebで共有。作品作りを手軽に" %>

<div id="top_menu">


  <div id="top_pane" >
    <img id="side_logo" src="/assets/top/top_hanko_catch.png"> 
    <img id="logo" src="/assets/top/simple_logo.png"> 
    <div id="create_button" title="新規作成！！"></div>
     
  </div>
  <div id="top_hedder">
  <h1>webマンガの創作、共有、発表の場</h1>
  <h2>アップされたコンテンツを使って手軽に創作! </h2>
  <h2>公開された作品からスピンオフを作って共有!</h2>
  </div>

  <div id="featured_pane">
    <% @layouts.each do |layout| %>
      <%=raw "#{layout.html}" %>
    <% end %>
  </div>


  <div class=" novel_list">
    <h1>New Content List</h1>
    <script> entries = <%=raw @entries %> </script>
    <% i = 0 %>
    <% @novels.each do |novel| %>
      <% if novel.status == 'publish' then %> 
        <%= link_to( {:controller => :novels, :action => :show, :id => novel.id } ) do %>
          <div class="novel_list_item novel_list_item_<%= i %>" >
            <h2 class="novel_list_title">
              <%=raw "#{novel.title}" %>
            </h2>
            <p class="nove_list_description"> 
              <%=raw "#{novel.description}" %>
            </p>
            <div class="entry_preview"></div>
            <h2> >> 続きを読む！ </h2>
          </div>
          <% i = i +1 %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
</div>

<%= render :partial => "novels/show_template" %> 

<script type="text/template" id="novel_form_template">
  <form class="init_form form-horizontal">
    
    <div class="control-group">
      <label class="control-label" for="inputTitle">タイトル:</label>
      <div class="controls">
        <input type="text" id="inputTitle" placeholder="title" name="novel[title]" >
      </div>

      <label class="control-label" for="inputDescription">説明:</label>
      <div class="controls">
        <input type="text" id="inputDescription" placeholder="description" name="novel[description]" >
      </div>

      <label class="control-label" for="inputAuther">作者名:</label>
      <div class="controls">
        <input type="text" id="inputAuther" placeholder="auther" name="novel[author_name]" >
      </div>

      <div class="controls">
        
        <label class="checkbox">
          <input type="checkbox"> I'm agree
        </label>
        
        <button  type="submit" class="btn btn-primary submit_button">ok</button>
        <button  type="button" class="btn cancel_button">cancel</button>
      
      </div>
    </div>

  </form>
</script>
