<%= stylesheet_link_tag 'novel' %>
<%= stylesheet_link_tag 'chapter' %>
<%= stylesheet_link_tag 'entry' %>
<%= stylesheet_link_tag 'entryItem' %>

<%= javascript_include_tag 'novel' %>

<div id="novel_container">

  <div id="content" >
  </div>
  
</div>

<%= render :partial => "novel/template" %> 
<%= render :partial => "novel/tool_template" %> 

