<%= stylesheet_link_tag 'novel' %>
<%= stylesheet_link_tag 'chapter' %>
<%= stylesheet_link_tag 'entry' %>
<%= stylesheet_link_tag 'entryItem' %>

<%= javascript_include_tag 'novel' %>

<img id="background_odd" class="background" src="/assets/0.png" />
<img id="background_even" class="background" src="/assets/0.png" />

<div id="novel_container">

  <button id="preview" title="Preview"><img src="/assets/novel/preview.png"></button>

  <aside id="side_menu" >
    <ul class = "well sidebar-nav" id = "chapterList">
    </ul>
  </aside>
  
  <!-- picker menu  -->
  <aside class = "well sidebar-nav" id="picker">
      <ul>
        <li><a href="#list_tab"><i class="icon-user"></i>LIST</a></li>
        <li><a href="#upload_tab"><i class="icon-upload"></i>UPLOAD</a></li>
      </ul>
      <div id="list_tab">
        <ul id = "picker_list" class = "nav nav-list">
          <li class="nav-header">Selecct Image from Libraly</li>
        </ul>
      </div>
      <div id="upload_tab">
        <ul id = "picker_upload" class = "nav nav-list" style="display:none" >
          <li class="nav-header">character File Upload</li>
          <input id="character_upload" type="file" name="image" data-url="/characters/0/images" multiple>

          <li class="nav-header">Music File Upload</li>
          <input id="music_upload" type="file" name="music" data-url="/background_musics" multiple>
      
          <li class="nav-header">Background File Upload</li>
          <input id="background_upload" type="file" name="image" data-url="/background_images" multiple>
        </ul>
        <button class="btn upload_button" id ="character_upload_button"><img src="/assets/novel/upload.png" ></button>
        <button class="btn upload_button" id ="background_upload_button"><img src="/assets/novel/upload.png" ></button>
        <button class="btn upload_button" id ="music_upload_button"><img src="/assets/novel/upload.png" ></button>
    </div>

    
      <button class="btn" id ="picker_cancel_button"><img src="/assets/novel/remove.png" ></button></li>
  </aside>

  <!-- Main content container  -->
  <div id="content" >
  </div>
  
  <div id="console">
    <h3>console:<textarea id="command_line" class="span12" rows="1" ></textarea></h3>
  </div>
</div>

<%= render :partial => "novels/template" %> 
<%= render :partial => "novels/tool_template" %> 

