<div class="edit_head">
<%= stylesheet_link_tag 'wColorPicker.1.2.min.css' %>
<%= stylesheet_link_tag 'novel' %>
<%= stylesheet_link_tag 'chapter' %>
<%= stylesheet_link_tag 'entry' %>
<%= stylesheet_link_tag 'entryItem' %>
<%= stylesheet_link_tag 'editerItem' %>
<%= stylesheet_link_tag 'picker' %>
<%= stylesheet_link_tag 'toolMenu' %>
<%= stylesheet_link_tag 'textEditTool' %>
<%= stylesheet_link_tag 'wPaint' %>

<%= javascript_include_tag 'novelEdit' , :defer=>"defer" %>

<% content_for :html_title, @novel.title %>
<% content_for :html_description, @novel.description %>
</div>

<body>

<img id="background_odd" class="background" src="/assets/0.png" />
<img id="background_even" class="background" src="/assets/0.png" />

<div class="novel_container" id="<%= @novel.id%>">

  <!-- tutorial button 
  <button id="tutorial_button" class="btn" title="チュートリアル">
    <img src="/assets/novel/wakaba.png">
    <p>Tutorial</p>
  </button>
  -->
  <div id="tool_box">
    <div class="tool_wrapper">
<!-- 公開ボタン -->
      <button id="publish_button" class="btn btn-primary" width="80px" title="公開 publish">
        <p>PUBLISH</p>
        <img src="/assets/novel/publish.png">
      </button>

      <!-- プレビューボタン -->
      <button id="preview_button" class="btn" title="Preview">
        <p>PreView</p>
        <img src="/assets/novel/preview.png">
      </button>

      <div id="tool_tabs">
        <ul>
          <li><a href="#paint_tab">ペイントツール</a></li>
          <li><a href="#effecter_tab">アニメーション</a></li>
          <li><a href="#help_tab">ヘルプ</a></li>
        </ul>
        <div id="paint_tab"></div>
        <div id="effecter_tab">
          <div class='effect_selecter'>選択されていません </div>
        </div>
        <div id="help_tab">
        </div>
      </div>

    </div>

  </div>
  
  <aside id="side_menu" >
    <ul class = "well sidebar-nav" id = "chapterList">
    </ul>
  </aside>
  

  <!-- Main content container  -->
  <div id="content" >
  </div>
  
  <div id="console">
    <h3>console:<textarea id="command_line" class="span12" rows="1" ></textarea></h3>
  </div>
</div>

<%= render :partial => "novels/edit_template" %> 
<%= render :partial => "novels/tool_template" %> 
<!-- <%= render :partial => "novels/tutorial" %> -->

</body>
