<%= stylesheet_link_tag 'maker' %>
<%= stylesheet_link_tag 'novel' %>
<%= stylesheet_link_tag 'chapter' %>
<%= stylesheet_link_tag 'entry' %>
<%= stylesheet_link_tag 'entryItem' %>

<%= javascript_include_tag 'novelMaker' %>

<% content_for :html_title, @novel.title %>
<% content_for :html_description, @novel.description %>


<div class="novel_container" id="<%= @novel.id%>">

  <br>

  <!-- Main content container  -->
  <div id="content" ></div>

  <!-- Preview content container  -->
  <div id="preview_content" ></div>

  <br>

  <!-- プレビューボタン -->
  <button id="preview_button" class="btn" title="Preview">
    <img src="/assets/novel/preview.png"><p style="width:48px">Preview</p>
  </button>

  <!-- 公開ボタン -->
  <a id="publish_button" class="btn btn-info" width="80px" href="/novel/<%= @novel.id %>" title="公開 publish">
    <img src="/assets/novel/publish.png"><p>PUBLISH</p>
  </a>


  
</div>

<%= render :partial => "novels/show_template" %> 

