<head>
<%= stylesheet_link_tag 'novel' %>
<%= stylesheet_link_tag 'chapter' %>
<%= stylesheet_link_tag 'entry' %>
<%= stylesheet_link_tag 'entryItem' %>

<%= javascript_include_tag 'novelShow' %>

<% content_for :html_title, @novel.title %>
<% content_for :html_description, @novel.description %>
</head>

<img id="background_odd" class="background" src="/assets/0.png" />
<img id="background_even" class="background" src="/assets/0.png" />


<div class="novel_container" id="<%= @novel.id%>">

  <div id="content"> </div>


  <ul class="side_buttons">
    <li>
      <form action="/novels/<%= @novel.id%>/dup" method="post">
      <input class="img_over" type="image" src="/assets/top/edit_button_off.png" value='submit' id="spine_off"  title="コピーしてスピンオフを作る。; Make Spin off">
      </input>
      </form>
    </li>
  </ul>
</div>

<%= render :partial => "novels/show_template" %> 

