<head>

<meta name="viewport" content="width=device-width,initial-scale=0.8,minimum-scale=0.5,maximum-scale=2.0">
<%= stylesheet_link_tag 'show' %>
<%= javascript_include_tag 'novelShow' , :defer=>"defer" %>

<% content_for :html_title, @novel.title %>
<% content_for :html_description, @novel.description %>

</head>

  
<div class="share_buttons" width="480px">

  <div class="fb-like" data-send="true" data-width="300" data-show-faces="false"></div>

  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-size="large">ツイート</a>

  <div class="g-plusone" data-size="tall" data-annotation="inline" data-width="300"></div>

</div>



<div class="novel_container" id="<%= @novel.id%>">

  <div id="content"> </div>

</div>

<hr>
<div id="comments_list" >
  <% @comments.each_with_index do |comment, index| %>
      <div class="comment" >
        <%= index+1 %>: <span class="time"><%= comment.created_at.strftime('%Y年%m月%d日 %H:%M') %><span> 
        <div class="box">
          <p> <%= comment.text %> </p>
        </div>
      </div>
  <% end %>

  <br>

  <form action="/novels/<%=@novel.id%>/comment/add" method="post">
    <textarea name="text" ></textarea>
    <input type="submit" value="コメント投稿" >
  </form>


</div>
<!--
<div class="side_buttons">
  <form action="/novels/<%= @novel.id%>/dup" method="post">
    <input class="img_over" type="image" src="/assets/top/edit_button_off.png" value='submit' id="spine_off"  title="ピンオフを作る">
    </input>
  </form>
  <a href="/maker/<%= @novel.id%>"  title="セリフを変える"><img  class="img_over" src="/assets/top/maker_button_off.png"></a>
</div>
-->
  <br>

<!--
<div class="share_buttons">

  <div class="fb-like" data-send="true" data-width="300" data-show-faces="false"></div>

  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-size="large">ツイート</a>


  <div class="g-plusone" data-size="tall" data-annotation="inline" data-width="300"></div>

-->
<%= render :partial => "novels/social" %> 

</div>
  <div class="under_edit"> 
    <form action="/novels/<%= @novel.id%>/dup" method="post" style="display:inline">
      <button class="under_edit_button" type="submit"  >
        <img class="img_over" src="/assets/top/edit_button_off.png">
        スピンオフを作成  
      </button>
    </form>
    <button class="under_edit_button"  onclick="location.href='/maker/<%= @novel.id%>'"  >
      <img class="img_over" src="/assets/top/maker_button_off.png">
        セリフの改変  
    </button>
    <a href="https://twitter.com/ecomaki_com" class="twitter-follow-button" data-show-count="false" data-lang="ja" data-size="large">@ecomaki_comさんをフォロー</a>
  </div>

<%= render :partial => "novels/show_template" %> 

 <div id="fb-root"></div>
