<%= stylesheet_link_tag 'novel' %>
<%= stylesheet_link_tag 'chapter' %>
<%= stylesheet_link_tag 'entry' %>
<%= stylesheet_link_tag 'entryItem' %>

<%= javascript_include_tag 'novel' %>

<div id="novel_container">

  <div id="content" >
  </div>
  <ul class="side_buttons">
    <li>
      <button calss="side_button" id="twitter" title="Tweet">
        <img src="/assets/novel/twitter.png">
      </button>
    </li>
    <li>
      <button calss="side_button" id="facebook" title="comment on Facebook">
        <img src="/assets/novel/facebook.png">
      </button>
    </li>
    <li>
      <button calss="side_button" id="spine_off" title="コピーしてスピンオフを作る。; Make Spin off">
        <img src="/assets/novel/brush.png">
      </button>
    </li>
</div>

<%= render :partial => "novels/template" %> 
<%= render :partial => "novels/tool_template" %> 

