<head>
<%= stylesheet_link_tag 'show' %>
<%= stylesheet_link_tag 'novel' %>
<%= stylesheet_link_tag 'chapter' %>
<%= stylesheet_link_tag 'entry' %>
<%= stylesheet_link_tag 'entryItem' %>

<%= javascript_include_tag 'novelShow' %>

<% content_for :html_title, @novel.title %>
<% content_for :html_description, @novel.description %>
</head>

<img id="background_odd" class="background" src="/assets/0.png" />
<img id="background_even" class="background" src="/assets/0.png" />


<div class="novel_container" id="<%= @novel.id%>">

  <div id="content"> </div>




  <ul class="side_buttons">
    <li>
      <form action="/novels/<%= @novel.id%>/dup" method="post">
        <input class="img_over" type="image" src="/assets/top/edit_button_off.png" value='submit' id="spine_off"  title="コピーしてスピンオフを作る。; Make Spin off">
        </input>
      </form>
    </li>
  </ul>

 <br>

 <div class="share_buttons">
  <h3> シェアする </h3> 

  <!-- facebook tag -->
  <div class="fb-like" data-send="true" data-width="300" data-show-faces="false"></div>

  <!-- twitter -->
  <a href="https://twitter.com/share" class="twitter-share-button">ツイッターで共有</a>


  <!-- google +1 ボタン  -->
  <div class="g-plusone" data-size="tall" data-annotation="inline" data-width="300"></div>

  </div>
  
  <div class="under_edit"> 
    <form action="/novels/<%= @novel.id%>/dup" method="post">
      <button class="under_edit_button" type="submit"  >
        <img class="img_over" src="/assets/top/edit_button_off.png">
        スピンオフを作る!  
      </button>
    </form>
  </div>

</div>

  <hr>


<%= render :partial => "novels/show_template" %> 

  <!-- facebook code -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- google ccode -->
  <script type="text/javascript">
    window.___gcfg = {lang: 'ja'};
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  <!-- twitter code -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
