<!DOCTYPE html>



<html>
  <head>
    <script type="text/javascript"> if (!window.console) console = {log: function() {}}; </script>
    <meta name="viewport" content="width=device-width,initial-scale=0.8,minimum-scale=0.5,maximum-scale=2.0">
    <!-- Piwik  
    <script type="text/javascript">
      var _paq = _paq || [];
        _paq.push(["setCookieDomain", "*.taizan.ecomaki.com"]);
        _paq.push(["setDomains", ["*.taizan.ecomaki.com"]]);
        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]);

      (function() {
         var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.ecomaki.com/";
          _paq.push(["setTrackerUrl", u+"piwik.php"]);
          _paq.push(["setSiteId", "2"]);
          var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
          g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
      })();
    </script>
     End Piwik Code -->

    <meta charset="UTF-8">
    <%= stylesheet_link_tag 'layout' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" , :defer=>"defer" %>
    <%= csrf_meta_tags %>


  <title><%= (html_title = yield :html_title) ? html_title : '' %> #ecomaki</title>

  <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
  <meta name="description" content="<%= (html_description = yield :html_description) ? html_description : 'online web comic tool.' %>">
  
  </head>
  <body>
    <div id='static_body' >
      <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- <img id="top_icon" src="/assets/novel/top_makimono_black.png" />
        -->
        <div class="navbar-inner">
          <div class="container top_container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><font style="color:yellow">e</font>co<font style="color:lime">M</font>aki</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li id="blog_link"><a href="/all">作品一覧</a></li>
              </ul>
              <ul class="nav">
                <li id="about_link"><a href="/about">About</a></li>
              </ul>
              <ul class="nav">
                <li id="about_link"><a href="/tutorial/new_index">作品の作り方</a></li>
              </ul>
              <ul class="nav">
                <li id="blog_link"><a href="http://blog.ecomaki.com/">開発ブログ</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <%= yield %>
    </div>
  </body>

</html>



